
@model IEnumerable<Web_Forum_cSharp.Models.Thread>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <h3> Welcome @User.Identity.Name </h3>
    }


    <p>
        @Html.ActionLink("Create New Thread", "Create", "Home")

        | @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "Logout", "Account")
        }
        else
        {
            @Html.ActionLink("Login", "Login", "Account")
        }

        | 
        @if(!User.Identity.IsAuthenticated)
        {
           @Html.ActionLink("Create An Account", "Register", "Account")
        }
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upvotes)
            </th>
            <th>
                Tags
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Upvotes)
                </td>

                <td>
                    @foreach (var tagNums in item.TagThreads)
                    {
                        @Html.DisplayFor(modelItem => tagNums.Tag.TagText) <br />
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Home", new { id = item.ThreadId }, null) |
                    @Html.ActionLink("Details", "Details", "Home", new { id = item.ThreadId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Home", new { id = item.ThreadId }, null)
                </td>
            </tr>
        }

    </table>

    @Html.ActionLink("Back to List", "Index", "Home")
